.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}
table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: dimgrey;
}

img {
  height: 20px;
}

.button_create {
  width: 80px;
  height: 40px;
  margin: 10px 0px 50px 620px;

}

.table_category {
  margin-top: 50px;
}

.main__img{
  display: flex;
  justify-content: center;
  
}

.button_create {
  width: 80px;
  height: 40px;
}

.input_table{
  margin-top: 20px;
}
.table_input{
margin: 5px 2px 5px 2px;
}

textarea{
  width: 90px;
  height: 20px;
}

.th_input{
  height: 10px;

}

.th_input_button{
  display: flex;
  justify-content: center;
}
